body{
    background-size: cover;
}
.heading{
    width: 100%;
    font-size: 23px;
    margin: 0;
}
.note{
    font-size: 15px;
    color: black;
    
}
canvas{
    border: white 5px solid;
    box-shadow: white 5px 5px 5px ;
    margin-top: 100px;
}
#start{
    font-size: 18px;
}
canvas{
    border: 5px white solid;
    box-shadow: 5px 5px 5px white;
    margin-top: 300px;
}